main,
footer,
body,
html {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  height: 100%;
  font-weight: normal;
}

/* Style footer */
footer {
  position: relative;
  max-height: 10px;
  bottom: 0;
}

footer p {
  text-align: center;
  padding-bottom: 25px;
}

#navbar {
  background-color: #0a2841;
  position: fixed;
  top: 0px;
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  z-index: 2;
}

/* Style the navbar links */
#navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

/* Center the links */
#nav-links {
  display: table;
  margin: 0 auto;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}